/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application
{
	font-family: Calibri;
	font-size: 13;
}

s|TitleBar
{
	skin-class:	ClassReference("com.flexair.theme.grey.skins.titlebar.TitleBar4Skin");
}

s|Scroller
{
	skin-class:	ClassReference("com.flexair.theme.grey.skins.scroller.ScrollerSkin");
}

.app
{
	skinClass: ClassReference("com.flexair.theme.grey.skins.application.Application");	
}

s|DropDownList
{
	font-size: 12;
	skin-class: ClassReference("com.flexair.theme.grey.skins.dropdownlist.DropDownSkin");
}

s|CheckBox
{
	skinClass: ClassReference("com.flexair.theme.grey.skins.checkbox.CheckBoxSkin");
}

s|TextInput
{
	skinClass: ClassReference("com.flexair.theme.grey.skins.textinput.TextInputSkin");
}

.buttonNormal
{
	skinClass: ClassReference("com.flexair.theme.grey.skins.buttons.ButtonNormalSkin");
	font-weight: bold;
}

.progressArea
{
	skinClass: ClassReference("com.flexair.theme.grey.skins.container.ProgressArea");
}

.progressBar
{
	track-skin: ClassReference("com.flexair.theme.grey.skins.progressbar.TrackSkin");
	bar-skin:	ClassReference("com.flexair.theme.grey.skins.progressbar.BarSkin");
}

.buttonRound
{
	skin-class: ClassReference("com.flexair.theme.grey.skins.buttons.ButtonRoundSkin");
}

.dropArea
{
	skin-class: ClassReference("com.flexair.theme.grey.skins.container.WhiteAreaBottomRounded")
}

.configArea
{
	skinClass: ClassReference("com.flexair.theme.grey.skins.container.WhiteAreaBottomRounded");
}

.bottomArea
{
	skinClass: ClassReference("com.flexair.theme.grey.skins.container.GreyPatternBottomAreaRounded");
}

.transparentList
{
	skinClass: ClassReference("com.flexair.theme.grey.skins.list.TransparentListSkin");
}

